html(lang='en')
  head
    meta(name='description', content='ArtistQL App')
    meta(name='author', content='John deGuise')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/styles.css' type='text/css')
    title= title
  body
    h1= message
    a(href= link1) Google
