html, body {
  height: 100%;
  border: 1px solid rgba(135, 0, 135, .1);
  background: rgb(240, 240, 255);
  text-align: center;
}

.border-container {
  border: 1px solid rgba(100, 0, 100, .2);
  transform: translateY(50%);
}
h1 {
  color: rgb(128, 0, 128);
}
#csv-row, h1 {
  padding: 25px;
}

form{
  margin: 0 auto;
}
#browse-files {
  margin-bottom: 40px;
}
